<div class="custom__pagination">
  <div class="custom__pagination-text">
    Items per page: {{ settings.perPage }}
  </div>

  <div class="custom__pagination-dropdown">
    <select (change)="onPerPageChange($event)">
      <option [value]="item" *ngFor="let item of list">{{ item }}</option>
    </select>
  </div>

  <div class="custom__pagination-text">
    {{ offsetStart }} - {{ offsetEnd }} of {{ count }}
  </div>

  <div class="custom__pagination-controls">
    <button type="button" [disabled]="active === 0" (click)="onPrev()">Prev</button>
    <button type="button" [disabled]="active >= pages.length - 1" (click)="onNext()">Next</button>
  </div>
</div>
