$color-primary: #037243;
$color-warm-3: #ddd;
$color-semantic-danger-dark: #843534;
$color: #ffffff;
$color-warm-4: #cccccc;
$color-semantic-success-background: #dff0d8;
$color-semantic-info-dark: #245269;
$color-semantic-warning-background: #fae7d9;
$font: Roboto;
$color-cool-dark: #737b84;
$color-primary-background: #cae7d7;
$color-semantic-danger: #c9302c;
$color-accent-dark: #e87f24;
$color-warm-2: #f1f2f3;
$color-semantic-info-background: #d9edf7;
$color-semantic-danger-light: #d9534f;
$color-semantic-success-dark: #265524;
$color-warm-5: #808080;
$color-accent-muted: #f5ca84;
$color-primary-light: #11955b;
$color-semantic-info: #0a7dd0;
$color-semantic-success: #449d44;
$color-special-2: #95b123;
$color-warm-7: #2a2a2a;
$color-warm-6: #4c4c4c;
$color-primary-muted: #9ac7b4;
$color-semantic-danger-background: #f2dede;
$color-cool-background: #f3f5f8;
$color-special-3: #ba7e24;
$color-semantic-warning-dark: #7e4e2c;
$color-special-1: #24b1ba;
$color-shadow1: rgba(0, 0, 0, 0.07);
$color-primary-dark: #00532f;
$color-semantic-success-light: #5cb85c;
$color-special-4: #a41b5d;
$color-warm-1: #fbfbfb;
$color-accent: #eea632;
$color-semantic-info-light: #0298d8;
$color-special-5: #7b008f;
$color-semantic-warning: #f8934a;
$color-semantic-warning-light: #fba05e;
$color-cool: #e8ecf1;

%middle {
    vertical-align: middle;
    display: inline-block;
}

%align-middle {
    &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
    }
}

.custom__pagination {

}

.custom__pagination-text {
    @extend %middle;
    color: $color-warm-6;
    font-family: $font;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
}

.custom__pagination-dropdown {
    @extend %middle;
}

.custom__pagination-controls {
    @extend %middle;
}
