<ngx-vs-table
  [settings]="settings"
  [data]="data"
  [componentTemplate]="template"
  [additionalRows]="rowsTemplate"
></ngx-vs-table>

<ng-template #template let-row="row">
  <strong>Salary</strong>
  <span>{{ row.salary | currency: '$' }}</span>
</ng-template>

<ng-template #rowsTemplate let-row="row">
  <tr>
    <td colspan="7" class="ngx-vs-table__body-cell">
      this is an additional row for {{ row.name }} in {{ row.office }}
    </td>
  </tr>

  <tr>
    <td colspan="7" class="ngx-vs-table__body-cell">
      and this one too
    </td>
  </tr>
</ng-template>
