<nav>
  <ul>
    <li>
      <a [routerLink]="['/']">Simple table with sticky head</a>
    </li>

    <li>
      <a [routerLink]="['/nested-properties-and-custom-cells']">Nested properties and custom cells</a>
    </li>

    <li>
      <a [routerLink]="['/expandable']">Expandable rows with custom rows</a>
    </li>

    <li>
      <a [routerLink]="['/recursive']">Recursive</a>
    </li>

    <li>
      <a [routerLink]="['/filters']">Filters</a>
    </li>
  </ul>
</nav>

<router-outlet></router-outlet>
