/* You can add global styles to this file, and also import other style files */

$fa-font-path: '/assets/webfonts';

@import "@fortawesome/fontawesome-free/scss/fontawesome";
@import "@fortawesome/fontawesome-free/scss/solid";
@import "projects/ngx-vs-table/src/lib/scss/regular";

body {
    background: #f8fafb;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
