<ngx-vs-table
  [settings]="settings"
  [data]="data"
  [paginationTemplate]="pagination"
  [activePage]="activePage"
  (pageChanged)="onPageChange($event)"
></ngx-vs-table>

<ng-template #pagination let-active="active" let-count="count" let-settings="settings">
  <custom-pagination
    [active]="active"
    [count]="count"
    [settings]="settings"
    [list]="[10, 20, 30]"
    (pageChanged)="onPageChange($event)"
    (perPageChanged)="onPerPageChanged($event)"
  ></custom-pagination>
</ng-template>
